<style>
	h1 {
	font-family: 'Roboto', sans-serif;
	background-color: red;
	}

	body {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
	}

	p {
		display: inline;
		background-color: red;
	}

	div.title {
		display: block;
		background-color: red;
		font-size: 80px;
	}

	div.subtitle {
		display: inline-block;
		background-color: black;
		font-size: 60px
	}
</style>